$icon-font-path: "../../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap";

.bs-docs-footer {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 100px;
    color: #777;
    text-align: center;
    border-top: 1px solid #e5e5e5;
}

div.navbar-collapse.collapse {
    display: block;
    overflow: hidden;
    max-height: 0px;
    -webkit-transition: max-height .3s ease;
    -moz-transition: max-height .3s ease;
    -o-transition: max-height .3s ease;
    transition: max-height .3s ease;
}
div.navbar-collapse.collapse.in {
    max-height: 2000px;
}